<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="persistencia.mybatis.mapper.MedicoMapper">
	
	<resultMap type="medico" id="rmMedicos">
		<id column="id_personal" property="id"/>
		<result column="nombre_completo" property="nombreCompleto"/>
		<result column="estado" property="estado"/>
		<result column="cmp" property="cmp"/>
 		<association property="especialidad" javaType="especialidad">
			<id column="id_esp" property="id"/>
			<result column="nombre_esp" property="nombre"/>
		</association>
	</resultMap>
	
	<select id="obtenerMedicos" resultMap="rmMedicos">
		SELECT m.id_personal, p.nombre_completo,cmp,url_foto,e.nombre_esp from MEDICO m
 		INNER JOIN ESPECIALIDAD E ON m.id_esp = e.id_esp
 		INNER JOIN PERSONAL p ON p.id_personal = m.id_personal
 		WHERE p.estado = 1
	</select>
</mapper>
